html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header{
    padding: 18px;
    font-size: 36px;
}

.card{
    background-color: floralwhite;
    border-style: solid;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
}

form{
    background-color: lavender;
    border-style: solid;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    
}
button{
    margin: 4px;
}